.header{
	position: fixed;
}

.banner img{
    height: 150px;
}
.logo{
    vertical-align: middle;
    height: 20vh;
    display: block;
 }

.logowords{
    font-family: 'Bitter', serif;
    font-size: 40px;
}

.banner{
    /*background-color: transparent;*/
    z-index: 1;
    /*overflow: hidden;*/
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 30%;
    top: 0;
    left: 0;
    position: fixed !important;
    margin: 0;
    padding: 40px;
}

/*#banner {
    font-size: 40px;
    color: blue;
    text-align: center;
    padding: 50px;
    margin: auto;
    position: absolute;
}*/

.navbar{
    background-color: gray;
    position: fixed;

}

.pure-u-5-6{
    margin: 0 auto;

}

.header{
    z-index: 4;
}

.content-wrapper{
    position: absolute;
    top: 87%;
    width: 100%;
    min-height: 12%;
    z-index: 2;
    /*background: white;*/
    margin: 0;
    -ms-transform: translate(0px,-40vh); /* IE 9 */
    -webkit-transform: translate(0px,-40vh); /* Chrome, Safari, Opera */
    transform: translate(0px,-40vh);
}

.about{
    background-color: #065B9C; 
}

 .content{   
    height: 85vh;
    padding: 20px;
    /*margin: 20px;*/
 /*position: relative;
    top: 50%;
    left: 50%;
    margin: 0px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);*/
  }
   
.register{
    background-color: #6EA7D2;
}

body{
text-align: center;
background: url("./escheresque.png");
}

.pure-menu-fixed{
    background-color: black;
}